<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>demo</title>
	<style>
		body {margin: 0;padding: 0;background-color: #000000;}
	</style>
	
	<!--调试时用下面代码-->
	<script src="./js/lib/laya/laya.core.js"></script>
	<script src="./js/lib/laya/laya.webgl.js"></script>
	<script src="./js/lib/laya/laya.ui.js"></script>
	<script src="./js/data.js"></script>
	<script src="./js/main.js"></script>
	
	<!--发布时用下面代码-->
	<!--<script src="./a.js"></script>-->
	
</head>

<body>
	<script>
        myAll();
	</script>
</body>
	
</html>
